/*Imposto per tutto margini 0 e il box sizing */
*{
    box-sizing: border-box;
    margin: 0;
}

/*Creazione della striscia in testata, aggiungo l'immagine e il colore nel background, imposto al dimensione del blocco e il padding per settare il logo*/
#testata{
    background-image: url(../img/pattern.png);
    background-color: rgb(60, 10, 223);
    width: 100%;
    height: 180px;
    padding-top: 70px;
    padding-left: 20px;
}

/*In questo blocco carico il logo che si trova in posizione grazie al padding aggiunto del padre (#testata) con un background color trasparente*/
#logo{
    width: 220px;
    height: 100px;
    background-image: url(../img/logo.svg);
    background-color: rgba(0, 0, 0, 0);
    background-size: 100% 100%;
}


h1{
    font-size: 70px;
    margin: 0;
    padding: 0;
}

#sottotitolo{
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    color: rgb(125, 119, 119);
}

/*Con text decoration: none elimino la sottolineatura dal link*/
span a{
    text-decoration: none;
    color: rgb(78, 78, 255);
}

#foto1{
    width: 51%;
}
#foto2{
    width: 43.5%;
}

.evidenziatore{
    background-color: rgb(233, 237, 13);
}

.font{
    font-size: 25px;
}

/* Agiusto la tabella sia in dimensione, così da utilizzare tutta la larghezza della pagina, sia nell'allineamento del testo a sinistra*/
#table{
    width: 100%;
    text-align: left;
}
.tabella_testata{
    background-color: rgb(9, 149, 241);
    color: aliceblue;
}

.riga1{
    height: 60px;
    background-color: rgba(63, 186, 238, 0.5);
}
.riga2{
    height: 60px;
}

.colonna1{
    width: 20%;
}
.colonna2{
    width: 55%;
}